.btn-style {
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 5%;
}

.btn-style:hover {
  border-color: #8a2be2;
  color: #8a2be2;
}

.btn-hidden {
  visibility: hidden;
}

.btn-style:disabled, button[disabled] {
  color:rgb(129, 126, 126);
  border-color: rgb(129, 126, 126);
}
