.line-container {
  border: 0.5px solid #fff;
  border-right: none;
  border-left: none;
}

.line {
  padding: 10px;
}

.line-dir {
  display: flex;
  flex-direction: row;
}

.racing-road {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.car-name {
  color: #fff;
  opacity: 0.2;
  align-self: center;
}

.car {
  position: relative;
  transition: transform 0.5s linear;
}

.side-btn-container {
  display: flex;
  flex-direction: column;
}
