.line-container {
  border: 0.5px solid #fff;
  border-right: none;
  border-left: none;
}

.line-container.selected {
  border-top: 2px solid #8a2be2;
  border-bottom: 2px solid #8a2be2;
}

.line {
  padding: 10px;
}

.line-dir {
  display: flex;
  flex-direction: row;
}

.car-name {
  color: #fff;
  opacity: 0.2;
  align-self: center;
}

.car {
  position: relative;
  transform: translateX(var(--car-position, 0px));
}

.car-animation {
  animation: car-drive var(--velocity, 16ms) ease-in-out forwards;
}

.side-btn-container {
  display: flex;
  flex-direction: column;
}

@keyframes car-drive {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(var(--car-position) + 100px));
  }
}
