.line-container {
    border: 0.5px solid #fff;
    border-right: none;
    border-left: none;
}

.line {
    padding: 10px;
}

.line-dir {
    display: flex;
    flex-direction: row;
}

.car-name {
    color: #fff;
    opacity: 0.2;
    align-self: center;
}