input[type="text"],
input[type="submit"] {
  padding: 4px;
}

.async-race-container {
  display: flex;
  flex-direction: column;
}

.navigation-container {
  display: flex;
  justify-content: center;
  height: 3rem;
}

.nav-btn {
  margin: 5px;
}

.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pagintation-txt {
  color: #fff;
}
